/*Date created: 4/11/20-->*/
/*index.html*/
/*Author: Emily Conlon (c3331128)*/
body {
    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1cm;
}

.grid {
    display: grid;
    grid-template-columns: 12.5% auto auto auto auto auto;
    grid-template-rows: 5em 5em auto 5em auto 5em auto auto auto;
}

a {
    line-height: 120px;
    text-align: center;
    text-decoration: none;
    background-color: white;
}

h3 {
    color: #3a9bdb;
}

ul {
    list-style-type: none;
}

p {
    padding-bottom: 75px;
}

strong {
    font-size: larger;
}

a:link {
    color: #3a9bdb;
}

a:visited {
    color: #1f67aa;
}

a:active {
    color: #f0f7fc;
}

a:hover {
    color: #7cb4e7;
    font-size: larger;
}

.navimg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
}

.navimg img {
    height: 100%;
    width: 50%;
}

.navabout, .navhome, .navpkg1, .navpkg2, .navimg {
    text-align: center;
}

.navhome {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.navabout {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.navpkg1 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.navpkg1 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.title {
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 2 / 3;
    align-self: center;
}

h1, h2 {
    color: #1f67aa;
    text-transform: uppercase;
    margin: 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.heroimg {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
}

.about {
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 4 / 5;
    align-self: center;
}

#about-p {
    font-size: larger;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    background-color: white;
    margin: 0px;
    padding: 2em;
}

#about-img {
    grid-column: 4 / 7;
    grid-row: 5 / 6;
    justify-self: end;
}

.featured {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    text-align: center;
    align-self: center;
}

.holidays {
    grid-row: 7 / 8;
    grid-column: 1 / 6;
}

li img {
    float: left;
    padding: 1em;
}

li p, h3 {
    margin-left: 35em;
    padding: 2em;
    background-color: white;
}

footer {
    float: right;
    text-align: right;
    margin-right: 2em;
}



/* Need to sort out column layout for the descriptions
and images of the holidays, also titles */