body {
    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: 10em 10em 10em 10em auto;
    grid-template-rows: 10em 15em auto 15em auto;
}

.navimg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.navhome {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.navabout {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.navpkg {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.title {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.heroimg {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.about {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}

#about-p {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    justify-self: start;
    width: 50%;
}

#about-img {
    grid-column: 4 / 6;
    grid-row: 5 / 6;
    justify-self: end;
    width: 50%;
}

li {
    display: inline;
}